@model Nest.ISearchResponse<BookModel>

<br />
@if (Model.Aggregations != null)
{
    <h4>Aggregations</h4>
    <br />
    @if (Model.Aggregations.ContainsKey("categories"))
    {
        <h4>Categories (Terms)</h4>
        <ul>
            @foreach (var bucket in Model.Aggregations.Terms("categories").Buckets)
            {
                <li>@bucket.Key: @bucket.DocCount</li>
            }
        </ul>
    }
}
