@model Nest.ISearchResponse<BookModel>

<br />
@if (Model.Aggregations != null)
{
    <h4>Aggregations</h4>
    <br />
    @if (Model.Aggregations.ContainsKey("pageCounts"))
    {
        <h4>Page Count (Ranges)</h4>
        <ul>
            @foreach (var LBucket in Model.Aggregations.Range("pageCounts").Buckets)
            {
                <li>@LBucket.Key: @LBucket.DocCount</li>
            }
        </ul>
    }
}
