@model Nest.ISearchResponse<BookModel>

<br />
<h4>Search Title field:</h4>
<form asp-controller="Main" asp-action="TitleSearch" method="post">
    <input type="text" name="AInputQuery" />
    <input type="submit" value="Search" />
</form>

@if (Model.Documents.Any())
{
    <br />
    <h4>Search Results:</h4>
    <br />
    <ul>
        @foreach (var LBook in Model.Documents)
        {
            <li>Title: @LBook.Title (ISBN: @LBook.Isbn)</li>
        }
    </ul>
}
